<html>
<head>
    <title>Update Employee</title>
</head>
<body>
    <h1>Update Employee Info</h1>
    <form onsubmit="return updateEmployee()">
        <input type="number" id="id" placeholder="Employee ID"><br>
        <input type="text" id="name" placeholder="New Name"><br>
        <input type="text" id="contact" placeholder="New Contact No"><br>
        <input type="submit" value="Update">
    </form>
    <p id="msg" style="color: red;"></p>

    <script src="update.js"></script>
</body>
</html>
